@model IEnumerable<GestionActivités.Models.Participants.Participant>

@{
    ViewData["Title"] = "Index";
    
}


<h2>@ViewBag.nombreDeVote personnes ont participées </h2>
<p></p>
<p>
    <a asp-action="Create">Votez pour votre activité</a>
</p>


<table class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.nom)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.activite)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            
            <td>
                @Html.DisplayFor(modelItem => item.nom)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.activite)
            </td>
            <td>
              @*  @Html.ActionLink("Edit", "Edit", new { num = item.id  }) |
                @Html.ActionLink("Details", "Details", new { num = item.id  }) |
                @Html.ActionLink("Delete", "Delete", new { num = item.id  })*@
            </td>
        </tr>
}
    </tbody>
</table>
