@model IEnumerable<GestionActivités.Models.Activites.Activite>

@{
    ViewData["Title"] = "Index";
}

<h1>Nos activités</h1>
<button class= "votebtn"><a asp-controller="Participant" asp-action="Create" class="btn btn-primary">Votez ici</a></button>

@*Les noms des tables et nom dans les modèles n'étant pas français, j'ai 
    codé en dur les entêtes de colonnes
*@
<table class="table">
    <thead>
        <tr>
            <th>
                Activité
            </th>
            <th>
                Emplacement
            </th>
            <th>
                Date
            </th>
            <th>
                Heure
            </th>
            <th>
                Fin
            </th>
            <th>
                Prix
            </th>
            <th>
                Votes
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @* Pour la vue générale de la première itération, les informations concernant le co-voiturage ne sont pas incluses*@
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nomActivite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emplacement)
            </td>
            <td >
                 @Html.DisplayFor(modelItem => item.dateActivite )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote)
            </td>
            
            <td>
                @Html.ActionLink("Details", "Details", new { num = item.id }) 
            </td>
        </tr>
}
    </tbody>
</table>
