@model IEnumerable<GestionActivités.Models.Activites.Activite>

@{
    ViewData["Title"] = "Index";
}

<h1>Time to vote!</h1>


<table class="table">
    <thead>
        <tr>
            @*<th>
                @Html.DisplayNameFor(model => model.id)
            </th>*@
            <th>
                Activité
               @*@Html.DisplayNameFor(model => model.nomActivite)*@
            </th>
            <th>
                Emplacement
                @*@Html.DisplayNameFor(model => model.emplacement)*@
            </th>
            <th>
                Date
                @*@Html.DisplayNameFor(model => model.dateActivite)*@
            </th>
            <th>
                Heure
                @*@Html.DisplayNameFor(model => model.debut)*@
            </th>
            <th>
                Fin
                @*@Html.DisplayNameFor(model => model.fin)*@
            </th>
            <th>
                Prix
                @*@Html.DisplayNameFor(model => model.prix)*@
            </th>
            <th>
                Votes
                @*@Html.DisplayNameFor(model => model.vote)*@
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.nomActivite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emplacement)
            </td>
            <td >
                 @Html.DisplayFor(modelItem => item.dateActivite )
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)$
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote)
            </td>
            
            <td>
                @*@Html.ActionLink("Edit", "Edit", new { num = item.id }) |*@
                @Html.ActionLink("Details", "Details", new { num = item.id }) 
              @*  @Html.ActionLink("Delete", "Delete", new { num = item.id })*@
            </td>
        </tr>
}
    </tbody>
</table>
