@model IEnumerable<GestionActivités.Models.Activites.Activite>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nomActivite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.emplacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateActivite)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.debut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.fin)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.vote)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.covoiturage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PlaceVoiture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nomActivite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.emplacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateActivite)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.debut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.fin)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.vote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.covoiturage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PlaceVoiture)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { num = item.Id }) |
                @Html.ActionLink("Details", "Details", new { num = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { num = item.Id })
            </td>
        </tr>
}
    </tbody>
</table>
